.wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
  text-align: left;
  color: aliceblue;
  font-size: 18px;
  font-weight: 500;
}

.title:visited {
  color: green;
}

.title:link {
  color: none;
}
